@font-face {
    font-family: 'Saira';
    src: local('SairaStencilOne-Regular'),
    local('SairaStencilOne-Regular'),
    url('/public/fonts/SairaStencilOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Galano';
    src: local('Galano Grotesque Medium'),
    local('Galano-Grotesque-Medium'),
    url('/public/fonts/Galano-Grotesque-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Galano';
    src: local('Galano Grotesque SemiBold'),
    local('Galano-Grotesque-SemiBold'),
    url('/public/fonts/Galano-Grotesque-SemiBold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Galano';
    src: local('Galano Grotesque Light'),
    local('Galano-Grotesque-Light'),
    url('/public/fonts/Galano-Grotesque-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}