.splash {
    width: 980px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    @include medium {
        width: 692px;
    }

    @include small {
        width: 87.5%;
    }

    svg {
        g, path {
        fill: $yellow;
        }
    }

    .blurb {
        max-width: 500px;
        text-align: left;
    }
}