.splash {
    @extend .container;
    @include center;
    height: calc(100vh - $-nav-height - $-footer-height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    @include small {
        height: calc(100vh - $-nav-height-s - $-footer-height);
    }

    svg {
        g, path {
        fill: $gray;
        }
    }

    .blurb {
        max-width: 500px;
        text-align: left;
    }
}