.tile {
    background-color: $gray;
    color: $background;
    display: flex;
    border-radius: 4px;

    &-headline {
        display: flex;
        flex-direction: column;
        padding: 24px;
        justify-content: center;
        text-decoration: none;
        h3, h4 {
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: 1.75em;
            font-weight: 400;
        }

        h4 {
            font-weight: 300;
        }
    }

    &-image {
        @include small {
            flex-direction: column;
        }
        img {
            width: 25%;

            @include small {
                width: 100%;
            }
        }
    }

    &-music-review {
        display: flex;
        flex-wrap: wrap;
    }

    &-music {
        width: 100%;
        display: flex;
        padding: 24px 24px 0;

        .artist {
            font-weight: 400;
        }

        img {
            width: 200px;
            height: 200px;
        }

        a {
            color: $background;
            position: relative;
        
            &::after {
                content: '▶';
                position: absolute;
                margin-left: 6px;
                font-size: 12px;
                margin-top: 4px;
            }
        }

        @include small {
            .tile-headline {
                padding: 0;
                padding-left: 24px;
            }

            img {
                width: 100px;
                height: 100px;
                margin-top: 8px;
            } 
        }

 
    }

    &-review {
        width: 100%;
        padding: 24px;

        p {
            font-weight: 300;
        }
    }
}

.tiles-list {
    li {
        margin-top: 24px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    a {
        text-decoration: none;
    }
}