.tile {
    background-color: $gray;
    color: $background;
    display: flex;
    border-radius: 4px;
  
    &-headline {
      display: flex;
      flex-direction: column;
      padding: 24px;
      padding-left: 0;
      justify-content: center;
      text-decoration: none;
      
      h3, h4 {
        margin: 0;
        padding: 0;
      }
  
      h3 {
        font-size: 1.75em;
        font-weight: 400;
      }
  
      h4 {
        font-weight: 300;
      }
  
      p {
        margin: 0;
        padding: 0;
        font-size: 0.75em;
        font-weight: 700;
      }
    }
  
    img + &-headline {
      padding-left: 24px;
    }
  
    &-image {
      img {
        width: 25%;
  
        @include small {
          width: 100%;
        }
      }
  
      @include small {
        flex-direction: column;
      }
    }
  
    &-music-review,
    &-movie-review {
      display: flex;
      flex-wrap: wrap;
    }
  
    &-music,
    &-movie {
      width: 100%;
      display: flex;
      padding: 24px;
  
      .artist {
        font-weight: 400;
      }
  
      img {
        width: 200px;
        height: 200px;
      }
  
      a {
        color: $background;
        position: relative;
        &::after {
          content: '▶';
          position: absolute;
          margin-left: 6px;
          font-size: 12px;
          margin-top: 4px;
        }
      }
  
      @include small {
        img {
          width: 100px;
          height: 100px;
          margin-top: 8px;
        }
        
        .tile-headline {
          padding: 0;
        }
        
        img + .tile-headline {
          padding-left: 24px;
        }
      }
    }
  
    &-movie {
      height: auto;
      img {
        height: 278px;
      }
  
      @include small {
        img {
          height: 139px;
        }
      }
    }
  
    &-review {
      width: 100%;
      padding: 24px;
  
      p {
        font-weight: 300;
      }
    }
  
    &-text {
      .tile-headline {
        padding-left: 24px;
      }
    }
  }
  
  .tiles-list {
    li {
      margin-top: 24px;
  
      &:first-of-type {
        margin-top: 0;
      }
    }
  
    a {
      text-decoration: none;
    }
  }
  